.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #3d3d3d, #232323);


    .loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #5b5353;
        padding: 100px 50px;
        border-radius: 5px;

        .loginTitle{

            color: salmon;
            font-size: 2rem;
        }

        .userLoginFields {
            width: 280px;
            height: 40px;
            display: flex;
            align-items: center;
            background-color: white;
            border: 1px solid gray;
            border-radius: 20px;
            margin-top: 20px;
            padding: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

            .loginInput {
                font-size: 12px;
                border: none;
                margin-left: 5px;
                padding: 5px;
                color: black;
                background-color: rgb(255, 255, 255);
                border-left: 1px solid gray;
                outline: none;
                width: 90%;
            }

            .userLoginFields:focus,
            .userLoginFields:hover {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            }


        }




        .loginButton {
            width: 280px;
            background-color: rgb(159, 34, 0);
            border-radius: 20px;

            .loginButton:hover {
                background-color: rgb(151, 35, 0);
            }
        }



    }

}