.navBarContainer {    
    display: flex;
    justify-content: center;
    align-items: center;

    .bigBossContainer {
        display: flex;
        gap: 20px;
        padding: 30px;

        &>div {
            border: 2px solid red;
            padding: 10px 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .addEmployee{
        margin-left: 30px;
        background-color: rgb(43, 43, 225);
        &:hover{
            cursor: pointer;
        }
    }
}