.tableContainer {

    width: 100%;
    padding: 20px;

    .table {

        margin-left: auto;
        margin-right: auto;

        .tableHeader {

            .tableRowHeader {

                .tableCellHeader {
                    font-size: 0.8rem;

                    border-right: 1px solid salmon;
                    padding: 5px 20px;
                }
            }
        }

     

        .tableBody {

            .tableRowBody {

                .tableCellBody {
                    padding: 2px;
                    background-color: rgb(7, 74, 124);
                }

            }


        }


    }


}