.sideBarContainer {

    width: 100%;
    background-color: rgb(58, 58, 58);
    height: 100%;
    padding-left: 20px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    padding-top: 20px;
    box-shadow: 2px 1px 3px 1px rgb(193, 193, 193);

    .sideBarContainerList {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .sideBarTitleContainer {

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px;
            gap: 10px;
            background-color: rgb(26, 25, 25);
            border-radius: 5px;
            border: 1px solid gray;


            .accountCircle {

                display: flex;
                align-items: center;
            }

            .sideBarTitleRightContainer {
                font-size: 1rem;
                color: rgb(213, 129, 129);

                .designation {
                    font-size: 0.8rem;
                    color: gray;
                }
            }
        }


        &>div {
            padding: 5px;

            &:hover {
                cursor: pointer;
                color: black;
                /* background-color: aliceblue; */
            }
        }


    }

    .newEntry {
        display: flex;
        align-items: end;
        margin-bottom: 20PX;
        border: 1px solid salmon;
        margin: 10%;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background-color: rgb(31, 30, 30);
        box-shadow: 2px 1px 3px 1px rgb(61, 61, 61);

        &:hover {
            cursor: pointer;
        }

    }
}