.sideBarContainer{

    width: 100%;
    background-color: rgb(4, 110, 163);
    height: 100%;
    padding-left: 20px;
    color: white;
    

  
    padding-top: 20px;
    box-shadow: 2px 4px 4px 3px rgb(193, 193, 193);

    .sideBarContainerList{
        display: flex;
        flex-direction: column;
        gap: 5px;


        &>div{
            padding: 5px;
            &:hover{ 
                padding: 6px 8px;
                border-radius: 8px;
                cursor: pointer;
                color: black;
                background-color: aliceblue;
            }
        }
    }
}